<br>
<p>
  Estan confirmados los siguientes puntos de verificación. Te avisaremos cuando sean públicados nuevos puntos.
</p>
<br>
<br>
<p>
  - Miercoles 16 de Septiembre de 10:30 a 13:00 en: Edificio Las Armas,  C/Las Armas. 
</p>
<br>
<br>
<p>
  - Jueves 17 de Septiembre de 17:30 a 20:00 en: Centro Social Librería La Pantera Rossa, C/ San Vicente de Paúl 28, 50001 Zaragoza. 
</p>
<br>
<br>
<p>
  - Sabado 19 de Septiembre de 10:30 a 13:00 en: Calle San Pablo junto al número 32. 
</p>
<br>
