<br>
<p>
  Sólo hay un punto de verificación confirmado. Te avisaremos cuando sean públicados nuevos puntos de verificación.
</p>
<br>
<br>
<p>
  - Jueves 10 de Septiembre de 17:30 a 20:00 en: Centro Social Librería La Pantera Rossa, C/ San Vicente de Paúl 28, 50001 Zaragoza. 
</p>
<br>


