<p>
Hola,
</p>
 
 <p>
Te escribimos desde el portal de participación de Zaragoza En Común porque ya has realizado la inscripción pero no has acabado el proceso de verificación presencial. 
</p>

<p>
Solo queda un día para finalizar este primer impulso de verificaciones. Te recomendamos hacerlo ahora. <a href="https://participa.zaragozaencomun.com/verificaciones">Dirígete a alguno de estos puntos antes de la siguiente fecha: dd/mm/aaaa</a>.
</p>

<p>
Para poder ser verificado presencialmente debes aportar la documentación que acredite que eres mayor de 16 años y resides en la ciudad de Zaragoza.
</p>

<p>
La documentación a aportar es:
</p>

<ul>
  <li>DNI o NIE con dirección en Zaragoza</li>
  <li>SI el DNI o NIE no tiene dirección a Zaragoza, o si tienes pasaporte o carné de conducir (donde no figura la dirección), hará falta acompañar el documento con algún otro que acredite la residencia en la ciudad: 
    <ul>
      <li>empadronamiento</li>
      <li>tarjeta censal</li>
      <li>recibo de suministros (luz, agua o gas) de los útlimos 12 meses </li>
    </ul>
  </li>
</ul>


<p>
#AhoraEncomún y construyamos una ciudad más justa, sostenible, democrática y participativa. 
</p>

<p>
Zaragoza En Común
</p>
